{% extends 'master.html' %}
{% load static %}

{% block title %}
CONTACT
{% endblock %}

{% block content %}
<h1 class="pages">CONTACT PAGE</h1>
<section>
<div class="cntct">
<form action="/contact" method="post">
  {% csrf_token %}
    <div class="mb-3 mt-3">
      <label for=" name" class="form-label label1">Name:</label>
      <input type="name" class="form-control" id="contact_name" placeholder="Enter name" name="contact_name">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="contact_email" placeholder="Enter email" name="contact_email">
    </div>
      <label for="comment">message:</label>
      <textarea class="form-control" rows="3" id="contact_message" name="contact_message"></textarea>
      
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</section>
{% endblock %}