{% extends 'adminmaster.html' %}
{% load static %}

{% block title %}
editcategory page
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h1>mens wear</h1>
        </div>
        <div class="col-sm-4">
            <h1>kids wear</h1>
        </div>
        <div class="col-sm-4">
            <h1>ladies wear</h1>
        </div>
    </div>
    <div class="row">
        
    </div>
</div>
{% endblock %}